.greenbox {
    background-color: #befeeb;
}

.redbox {
    background-color: #ffc8c8;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    size: 15px;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

th:nth-child(1),
td:nth-child(1) {
    width: 40%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 10%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 10%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 10%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 10%;
}

th:nth-child(6),
td:nth-child(6) {
    width: 10%;
}

th:nth-child(7),
td:nth-child(7) {
    width: 10%;
}
